<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel = "tests" name="Suite">

<listeners>
	<listener class-name="testComponents.Listeners"/>
</listeners>

<test name="Login">
    <classes>
      <class name="tests.Login"/>
      <class name="tests.SearchAndAddToCart"/>
    </classes>
</test> <!-- Test -->
  
</suite> <!-- Suite -->


